body {
  margin: 0;
  background: #111;
  color: black;
  font-family: Arial;
  text-align: center;
}

#controls {
  padding: 10px;
}

canvas {
  background: black;
  border: 3px solid white;
  display: block;
  margin: auto;
}

button, select {
  padding: 8px 15px;
  margin: 5px;
  font-size: 14px;
}

